<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Deliberately no INTERNET, network state, billing, ads, or external storage permissions. -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
    <application android:allowBackup="false" android:label="GTA5 Mobile" android:icon="@drawable/game_icon"
        android:theme="@style/GameTheme" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name=".GameActivity" android:exported="true" android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden|density|uiMode"
            android:resizeableActivity="true" android:enableOnBackInvokedCallback="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
